[project]
	description = Development example of Geant4 with TBB, customized for use with 'Module' in 
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/jonapost
[access "refs/for/refs/*"]
	read = group user/jonapost
	push = group user/jonapost
	label-Code-Review = -2..+2 group user/jonapost
	label-Verified = -1..+1 group user/jonapost
	rebase = group user/jonapost
	removeReviewer = group user/jonapost
	submit = group user/jonapost
[access "refs/heads/*"]
	read = group user/jonapost
	create = group user/jonapost
	push = +force group user/jonapost
	pushMerge = group user/jonapost
[access "refs/tags/*"]
	push = +force group user/jonapost
	pushTag = group user/jonapost
	pushSignedTag = group user/jonapost
